<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <!--this links to ur stylesheet-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <!--the above is for semantic ui-->
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
        <!--this is for the font-->
    </head>
    <body>
   
        <!--menu-->
        <div class="ui fixed inverted three item menu">
                <a href="/about" class="item right">About/Me</a>
                <a href="/" class="item right"><i class="home icon"></i>Home</a>
                <a href="/blogs/new" class="item"><i class="pencil alternate icon"></i>New Post</a>
        </div>
        
   
