<% include ./partials/header %> 

<div class="ui main text container segment">
    
<div class="ui top attached segment">
    <h1 class="ui center aligned block header swag" id="aboutHeader">WHAT IS THIS PAGE FOR?</h1>

      <p style="font-weight: bold;">I, Junaid Mohamed, a student at Georgia State University, created this blog page as a side project to showcase
      my web development skills. I created this project using Javascript, html, css (semantic ui), node.js and the Mongo DB. It was a lot of fun 
      and not to mention, great practice as an aspiring web developer. This is NOT a real blog, rather just a project to practice coding, all the random 
      text is generated courtesy of Lorem Ipsum. Enjoy!</p>
 </div>
  
<div class="ui top attached segment">
    <h1 class="ui center aligned block header swag" id="aboutHeader">MORE ABOUT JUNAID</h1>
    <img style="border-style: solid;" class="ui large image"src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/30516602_2061184237473665_4013022477778277884_n.jpg?_nc_cat=101&_nc_ht=scontent-atl3-1.xx&oh=2153f025cda8646dacfc9d1159f2d448&oe=5CC03C89">
    <p></p>
    <p>Senior Computer Information Systems student aiming to improve business and technology through creativity. 
  Knowledgeable in a variety of areas such as programming, business processes, and human communication. Self-learner and avid reader. 
  Currently working on projects and looking to advance any team I am a part of. </p>
    <p>Here's my LinkedIn Profile: <a href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"> Junaid's LinkedIn</a></p>
    <p>And dont forget to take a look at the rest of my projects on github:<a href ="https://github.com/junaiderade"> Junaid's GitHub</a></p>
    <p>My email is junaid98m@gmail.com and if you'd prefer to call, 678-790-8601</p>
</div>

</div>

<% include ./partials/footer %> 
